<%-include("partials/header")%>
<%-include("partials/nav")%>
<div class="min-h-[90vh] bg-zinc-950 flex items-center justify-center py-4">
    <div class="w-1/2 h-full flex items-center justify-center ">
        <img src="<%=updateBook.bookPoster%>"
            class="rounded-xl ml-5 w-1/2" alt="">
    </div>

    <form action="/update-book/<%=updateBook.id%>" class="w-1/2 h-full px-10 " method="post">
        <h1 class="text-white text-4xl text-center">Book Details</h1>
        <input value="<%=updateBook.bookPoster%>" type="url" name="bookPoster" id="" placeholder="Poster URL"
            class="w-full my-4 px-2 py-2 bg-zinc-900 rounded text-white text-xl">
        <input value="<%=updateBook.bookName%>" type="text" name="bookName" id="" placeholder="Title"
            class="w-full my-4 px-2 py-2 bg-zinc-900 rounded text-white text-xl">
        <input value="<%=updateBook.authorName%>" type="text" name="authorName" placeholder="Author's Name"
            class="w-full my-4 px-2 py-2 bg-zinc-900 rounded text-white text-xl">
        <input value="<%=updateBook.isbnNumber%>" type="text" name="isbnNumber" id="" placeholder="ISBN NUMBER"
            class="w-full my-4 px-2 py-2 bg-zinc-900 rounded text-white text-xl">
        <input value="<%=updateBook.bookPrice%>" type="number" name="bookPrice" id="" placeholder="Book price"
            class="w-full my-4 px-2 py-2 bg-zinc-900 rounded text-white text-xl">
        <textarea name="description" id=""
            class="w-full h-[30vh] my-6 px-2 py-2 bg-zinc-900 rounded text-white text-xl resize-none"
            placeholder="Description...."><%=updateBook.description%></textarea>
        <button class="bg-green-600 hover:bg-green-700 px-3 py-2 text-white rounded">Update Book</button>
    </form>
</div>
<%-include("partials/footer")%>